# Build folders
cmake-build-*/   # 忽略所有 build 資料夾

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# CLion project files
.idea/
*.iml

# OS 產生的垃圾檔
.DS_Store
Thumbs.db

# 可執行檔
*.exe
*.out
*.app


*.prob